[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
environs = "*"
urllib3 = "*"

[dev-packages]
black = "*"
zappa = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
