[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
environs = "*"
urllib3 = "*"
gunicorn = "*"

[dev-packages]
black = "*"

[pipenv]
allow_prereleases = true
