[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
environs = "*"
urllib3 = ">=1.24.2"
Jinja2 = ">=2.10.1"
pyyaml = ">=4.2b1"

[dev-packages]
black = "*"
zappa = "*"

[requires]
python_version = "3.6"
