<!-- About -->
<section class="content-section bg-light" id="about">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="content-section-heading">
                    <h2>About</h2>
                </div>
                <p class="lead mb-5 text-left"> I am currently a freelance Python/Django/Flask fullstack web
                    developer
                    living and working in the Northeast section of Minneapolis. In my previous life, I spent 12
                    years
                    delivering top-tier audio projects for big name brands and politicians with the fastest
                    turnaround in the industry, in doing so I helped develop and create proprietary software
                    tools for the company to go from audition to final product faster than the competition. Outside
                    of work, I enjoy the wonderful world of being a Maker. I love going to Art and History
                    museums, eating at amazing restaurants and drinking the amazing craft beers around Minneapolis
                    and going to Twins games during baseball season.
                </p>
            </div>
        </div>
    </div>
</section>