<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{{ title }}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->

    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
        type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
        rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css') }}"
        rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/stylish-portfolio.css') }}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#page-top">Home</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#projects">Projects</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#opensource">Open Source</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <!-- Typed.js display area -->
            <h1 class="mb-1"><span class="type"></span></h1>
            <div class="container">
                <ul class="list-inline mb-5">
                    <li class="list-inline-item">
                        <h3 class="mb-5"> <em>Developer Portfolio </em> </h3>
                    </li>
                    <div class="container" id="top_social">
                        <li class="list-inline-item">
                            <a class="social-link rounded-circle text-white mr-3" href="https://github.com/AlanSwenson"
                                target="blank">
                                <i class="icon-social-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="social-link rounded-circle text-white mr-3" href="https://medium.com/@aswens0276"
                                target="blank">
                                <i class="fab fa-medium-m"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="social-link rounded-circle text-white mr-3"
                                href="https://www.linkedin.com/in/alan-swenson-4645022a" target="blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/AlanSwenson"
                                target="blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">About</a>
        </div>
        <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>About</h2>

                    <p class="lead mb-5 text-left"> I am currently working as Senior Audio Producer at Studio Center
                        in
                        Georgetown
                        in DC. I'm responsible for
                        delivering top-tier audio projects for big name brands and politicians with the fastest
                        turnaround in the industry, in doing so I have helped develop and create proprietary software
                        tools for the company to go from audition to final product faster than the competition. Outside
                        of work, I enjoy taking in all of the wonderful DC Art and History museums, eating at amazing
                        restaurants around DC and going to Nationals games when the weather is nice.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Projects -->
    <section class="content-section bg-primary text-white text-center" id="projects">
        <div class="container">
            <div class="content-section-heading">
                <h2 class="mb-5">Projects</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="fab fa-amazon"></i>
                    </span>
                    <h4>
                        <strong>Amazon Review Scraper</strong>
                    </h4>
                    <p class="text-faded mb-0">Python/Flask/Postgres/Travis CI/AWS Lambda</p>
                    <a class="text-white" href="https://github.com/AlanSwenson/amz-review-scraper" target="blank"><i
                            class="icon-social-github"></i>
                        Source Code</a>
                </div>
                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="fab fa-raspberry-pi"></i>
                    </span>
                    <h4>
                        <strong>Streaming Dashboard</strong>
                    </h4>
                    <p class="text-faded mb-0">Python/Flask/Streaming Twitter & Darksky API/Raspberry Pi</p>
                    <a class="text-white" href="https://github.com/AlanSwenson/edwin" target="blank"><i
                            class="icon-social-github"></i>
                        Source Code</a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="fas fa-bookmark"></i>
                    </span>
                    <h4>
                        <strong>This Website!</strong>
                    </h4>
                    <p class="text-faded mb-0">Python/Flask/AWS Lambda</p>
                    <a class="text-white" href="https://github.com/AlanSwenson/portfolio" target="blank"><i
                            class="icon-social-github"></i>
                        Source Code</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Callout -->
    <section class="callout" id="opensource">
        <div class="container text-center">
            <h2 class="mx-auto mb-5">Open Source</h2>
            <p class="lead mb-5"><b>I am currently contributing to a Python <i class="fas fa-arrow-right"></i> Rust
                    port<br> of
                    Fish Manpage Completetions with <a href="https://github.com/rust-dc" target="blank">Rust DC</a></b>
            </p>
            <a class="btn btn-primary btn-xl" href="https://github.com/rust-dc/fish-manpage-completions"
                target="blank">Check out the project</a>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="https://github.com/AlanSwenson"
                        target="blank">
                        <i class="icon-social-github"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="https://medium.com/@aswens0276"
                        target="blank">
                        <i class="fab fa-medium-m"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3"
                        href="https://www.linkedin.com/in/alan-swenson-4645022a/" target="blank">
                        <i class="icon-social-linkedin"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/AlanSwenson"
                        target="blank">
                        <i class="icon-social-twitter"></i>
                    </a>
                </li>

            </ul>
            <p class="text-muted small mb-0">Copyright &copy; Alan Swenson 2019</p>
        </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/stylish-portfolio.min.js') }}"></script>
    <script>
        var typed = new Typed('.type', {
            strings: ["Alan Swenson"],
            startDelay: 100,
            typeSpeed: 100,
        });
    </script>
    {% block scripts %}{% endblock %}

</body>

</html>