<nav class="navbar sticky-top navbar-light bg-light navbar-expand-md">
    <!-- brand name / logo -->
    <a class="navbar-brand ml-3 restaurant-name" href="#">Alan's Restraurant</a>
    <div class="nav-links-container ml-auto">
        <!-- hamburger menu -->
        {% include 'restaurant_hamburger.html' %}

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-md-3">
                <a class="nav-item nav-link active" href="#welcome">WELCOME <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#menu">MENU</a>
                <a class="nav-item nav-link" href="#contact">CONTACT</a>
            </div>
        </div>
    </div>
</nav>