<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner intro-carousel">
        {% for image in images %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
            <img class="d-block w-100" src="{{ url_for('static', filename='img/restaurant/carousel/' + image) }}"
                alt="">
        </div>
        {% endfor %}

    </div>
</div>