
@media (min-width: 992px){
    .navbar-nav a.nav-item.nav-link{
        padding-left:30px;
        padding-right:30px;
    }
    
}

@media (min-width: 576px){
    .content-div{
        max-width: 700px;
        box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);
    }
}

.intro-carousel {
    width:100%;
    max-height: 500px !important;
}

.restaurant-name {
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
}